body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: black;
    color: white;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    transition: all 0.5s ease;;
    background: transparent;
    border: 1px solid #8BE8CB;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
    color: white;
  }

  .square:hover {
    background-color: #8BE8CB;
  }
  
  .X {
    color: #DE3C4B
  }

  .O {
    color: #C2F9BB;
  }

  .square.X, .square.O {
    background-color: transparent;
  }

  .square:focus {
    outline: none;
  }

  .board {
    width: 204px;
    margin: 0 auto;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .game-board {
    flex-basis: 70%;
  }
  .game-history {
    flex-basis: 30%;
    padding: 10px;
  }

  .history-item {
    padding: 10px;
    border: 1px solid #8BE8CB;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    transition: all 0.5s ease;;
  }

  .history-item:hover {
    color: #3C3C3C;
    background-color: #8BE8CB;
  }

  .text-center {
    text-align: center;
  }